<?xml version="1.0"?>
<config>
	<modules>
		<Comrse_ComrseSync>
			<version>1.1.5.3</version>
		</Comrse_ComrseSync>
	</modules>
	<global>
		<models>
			<comrsesync>
				<class>Comrse_ComrseSync_Model</class>
				<resourceModel>comrsesync_resource</resourceModel>
			</comrsesync>
			<comrsesync_resource>
				<class>Comrse_ComrseSync_Model_Resource</class>
				<entities>
					<comrseconnect>
						<table>comrsesync</table>
					</comrseconnect>
				</entities>
			</comrsesync_resource>
			<comrse>
				<class>ComrseProduct</class>
				<product>Comrse_ComrseSync_Model_Comrse_Product</product>
			</comrse>
			<shipping>
				<rewrite>
					<config>Comrse_ComrseSync_Model_Shipping_Config</config>
				</rewrite>
			</shipping>
			<sales>
				<rewrite>
					<quote_address>Comrse_ComrseSync_Model_Sales_Quote_Address</quote_address>
				</rewrite>
			</sales>
		</models>
		<helpers>
			<comrsesync>
				<class>Comrse_ComrseSync_Helper</class>
			</comrsesync>
		</helpers>
		<blocks>
			<comrsesync>
				<class>Comrse_ComrseSync_Block</class>
			</comrsesync>
		</blocks>
		<resources>
			<comrsesync_setup>
				<setup>
					<module>Comrse_ComrseSync</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</comrsesync_setup>
			<comrsesync_write>
				<connection>
					<use>core_write</use>
				</connection>
			</comrsesync_write>
			<comrsesync_read>
				<connection>
					<use>core_read</use>
				</connection>
			</comrsesync_read>
		</resources>
		<events>
			<sales_order_place_before>
				<observers>
					<comrseDataSyncParseOrder>
						<type>singleton</type>
						<model>comrsesync/datasync</model>
						<method>orderSave</method>
					</comrseDataSyncParseOrder>
				</observers>
			</sales_order_place_before>
			<sales_order_payment_refund>
				<observers>
					<comrseDataSyncParseRefund>
						<type>singleton</type>
						<model>comrsesync/datasync</model>
						<method>paymentRefund</method>
					</comrseDataSyncParseRefund>
				</observers>
			</sales_order_payment_refund>
			<sales_order_place_after>
				<observers>
					<comrseDataSyncParseOrder>
						<type>singleton</type>
						<model>comrsesync/datasync</model>
						<method>orderUpdate</method>
					</comrseDataSyncParseOrder>
				</observers>
			</sales_order_place_after>
			<catalog_product_save_after>
				<observers>
					<comrseDataSyncNewProduct>
						<type>singleton</type>
						<model>comrsesync/datasync</model>
						<method>productUpdate</method>
					</comrseDataSyncNewProduct>
				</observers>
			</catalog_product_save_after>
			<order_cancel_after >
				<observers>
					<comrseDataSyncCanceledOrder>
						<type>singleton</type>
						<model>comrsesync/datasync</model>
						<method>orderCancelation</method>
					</comrseDataSyncCanceledOrder>
				</observers>
			</order_cancel_after>
		</events>
	</global>
	<default>
		<payment>
			<comrsesync>
				<active>0</active>
				<model>comrsesync/datasync</model>
				<order_status>pending</order_status>
				<title>Comrse</title>
				<allowspecific>0</allowspecific>
			</comrsesync>
		</payment>
		<carriers>
			<comrseship>
				<active>0</active>
				<sallowspecific>0</sallowspecific>
				<model>Comrse_ComrseSync_Model_Carrier_Comrseship</model>
				<title>Comrse</title>
				<name>Comrse</name>
				<price>0.00</price>
				<type>O</type>
				<specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
			</comrseship>
		</carriers>
	</default>
	<admin>
		<routers>
			<comrsesync>
				<use>admin</use>
				<args>
					<module>Comrse_ComrseSync</module>
					<frontName>comrsesync</frontName>
				</args>
			</comrsesync>
			<comrseoptions>
				<use>admin</use>
				<args>
					<module>Comrse_ComrseSync</module>
					<frontName>comrsesync</frontName>
				</args>
			</comrseoptions>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<comrsesync module="comrsesync">
				<title>Comr.se</title>
				<sort_order>80</sort_order>
				<action>comrsesync/adminhtml_comrsesyncbackend</action>
			</comrsesync>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<comrsesync translate="title" module="comrsesync">
							<title>ComrseSync</title>
							<sort_order>1000</sort_order>
							<children>
								<comrsesyncbackend translate="title">
									<title>Comrse Settings</title>
								</comrsesyncbackend>
							</children>
						</comrsesync>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<comrsesync>
					<file>comrsesync.xml</file>
				</comrsesync>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<comrsesync>
					<file>comrsesync.xml</file>
				</comrsesync>
			</updates>
		</layout>
	</frontend>
</config> 